llm_distillation/data_processing_phase2_kabatubare_medical.ipynb
llm_distillation/evaluate_llama_dataset2.py
llm_distillation/filter_dataset.py
llm_distillation/llama_inf_phase1_kabatubare_medical.ipynb
llm_distillation/llama_sft_phase1_kabatubare_medical.ipynb
llm_distillation/matched_llama_dataset.jsonl
llm_distillation/matched_llama_dataset.jsonl.gz
llm_distillation/matched_llama_dataset.jsonl.gz.part
llm_distillation/match_datasets.py
llm_distillation/models/
llm_distillation/tokenizer_config.json
llm_distillation/tokenizer_config.json.gz
llm_distillation/tokenizer_config.json.gz.part
llm_distillation/tokenizer_config.json.gz.part.
llm_distillation/llama_inf_phase1_kabatubare_medical.ipynb
llm_distillation/llama_inf_phase2_kabatubare_medical.ipynb
llm_distillation/llama_sft_phase2_kabatubare_medical.ipynb